<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />

</head>
<body>
  <h1>COVID-19 Trends and Death Toll</h1>
  <p>
    <script type="text/javascript">
        document.write("[ last updated: " + new Date("{{last_updated}}") + " ]")
    </script>
  </p>
  <h2>World Stats:</h2>
  <table>
    <tr><td>Confirmed: </td>  <td>{{ "{:,d}".format(world['confirmed']) }} </td></tr>
    <tr><td>Deaths: </td>     <td>{{ "{:,d}".format(world['deaths']) }} </td></tr>
    <tr><td>Recovered: </td>  <td>{{ "{:,d}".format(world['recovered']) }}</td></tr>
  <table>
  </br>
  <input style="width:200px" type="text" value="" onkeyup="myFunc()"/><button onclick="myFunc()">Search</button>
  <p> </p>
  <table id="countries">
    <tr>
      <!-- <th>S.No.</th> -->
      <th>Country</th>
      <th>Confirmed</th>
      <th>Deaths</th>
      <th>Recovered</th>
    </tr>
    {% for (c, d) in data.items() | sort(attribute="1.confirmed", reverse=True) %}
    <tr>
      <!-- <td>{{loop.index}}</td> -->
      <td class="country">{{c}}</td>
      <td>{{ "{:,d}".format(d['confirmed']) }}</td>
      <td>{{ "{:,d}".format(d['deaths']) }}</td>
      <td>{{ "{:,d}".format(d['recovered']) }}</td>
    </tr>
    {% endfor %}
    </table>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
